.block {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    background-color:#40fef4;
    width: 600px;
    gap: 25px;
    columns: 100px;
}

.blocks {
    width: 100px;
    height: 100px;
}

.b1 {
    background-color: #00b3ff;
}
.b2 {
    background-color: #0051ff;
}